<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="url" value="https://www.demoblaze.com/" />
  <parameter name="browser" value="Chrome" />  
    <classes>   
      <class name="tests.TC001_SignUpFunctionality"/>
      <class name="tests.TC002_LoginFunctionality"/>
      <class name="tests.TC003_ButtonVisibility"/>
      <class name="tests.TC004_MenuItemsDisplay"/>
      <class name="tests.TC005_CategoriesDisplay"/>
      <class name="tests.TC006_LogoDisplay"/>
      <class name="tests.TC007_WelcomeUserDisplay"/>
      <class name="tests.TC008_ProductDetailsDisplay"/>
      <class name="tests.TC009_AddToCart"/>
      <class name="tests.TC010_DeleteCartItem"/>
      <class name="tests.TC011_ValidateTotalPrice"/>
      <class name="tests.TC012_EmptyCart"/>
      <class name="tests.TC013_PlaceOrder"/>
      <class name="tests.TC014_UserDetails"/>
      <class name="tests.TC015_CompletePurchase"/>
      <class name="tests.TC016_LogoutFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
